<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu para empresa -->
        <record model="ir.actions.act_window" id="action_empresa_tree">
            <field name="name">Ver empresas</field>
            <field name="res_model">instituto.empresa</field>
            <field name="view_mode">tree,form</field>
        </record>


        <!-- Barra para empresa -->
        <menuitem   id="menu_empresa"
                    name="Empresa"
                    parent="menu_principal"
                    sequence="3"
                    action="action_empresa_tree"
        />
        <!--<menuitem   id="menu_empresa_todos"
                    name="Ver todos"
                    parent="menu_empresa"
                    action="action_empresa_tree"/>-->
    </data>
</odoo>